<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cesgroup.zw.dao.ActionMapper">

    <resultMap id="BaseResultMap" type="com.cesgroup.zw.module.test.entity.Action" autoMapping="true">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>
