<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Reading List</title>
  <link rel="stylesheet" th:href="@{/static/style.css}"/>
</head>

<body>
<h2>user List</h2>

<div th:if="${user!=null}">
  <tr  >
    <th scope="row" th:text="${user.id}">1</th>
    <td th:text="${user.id}">id</td>
    <td th:text="${user.login}">login</td>
    <td th:text="${user.password}">@password</td>
    <td th:text="${user.firstName}">firstName</td>
    <td th:text="${user.lastName}">lastName</td>
    </br>
  </tr>
</div>


</body>
</html>